<ion-header>
  <ion-toolbar>
    <ion-title><img class="logo" src="../../assets/icon/logo.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="titles">Casas</h1>
  <ion-slides>
    <ion-slide>
      <h1><img src="../../assets/icon/1.jpg" alt=""></h1>
    </ion-slide>
    <ion-slide>
      <h1><img src="../../assets/icon/2.jpg" alt=""></h1>
    </ion-slide>
    <ion-slide>
      <h1><img src="../../assets/icon/3.jpg" alt=""></h1>
    </ion-slide>
    <ion-slide>
      <h1><img src="../../assets/icon/4.jpg" alt=""></h1>
    </ion-slide>
    <ion-slide>
      <h1><img src="../../assets/icon/5.jpg" alt=""></h1>
    </ion-slide>
    <ion-slide>
      <h1><img src="../../assets/icon/6.png" alt=""></h1>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-content>
  <h1 class="titles">Casas</h1>
  <ion-slides>
    <ion-slide>
      <h1><img src="../../assets/icon/favicon.png" alt=""></h1>
    </ion-slide>
    <ion-slide>
      <h1><img src="../../assets/icon/logo.png" alt=""></h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-content>
  <h1 class="titles">Casas</h1>
  <ion-slides>
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>