<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img class="logo" src="../../assets/icon/logo.png" alt=""></ion-title>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="titles">Waifus</h1>
  <ion-slides>
    <ion-slide>
      <img [src]="imageUrl7" *ngIf="imageUrl">
    </ion-slide>
    <ion-slide>
      <img [src]="imageUrl8" *ngIf="imageUrl">
    </ion-slide>
    <ion-slide>
      <img [src]="imageUrl9" *ngIf="imageUrl">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/icon/3.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/icon/2.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/icon/1.jpg" alt="">
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-content>
  <h1 class="titles">Waifus</h1>
  <ion-slides>
    <ion-slide>
      <img [src]="imageUrl4" *ngIf="imageUrl">
    </ion-slide>
    <ion-slide>
      <img [src]="imageUrl5" *ngIf="imageUrl">
    </ion-slide>
    <ion-slide>
      <img [src]="imageUrl6" *ngIf="imageUrl">
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-content>
  <h1 class="titles">Waifus</h1>
  <ion-slides>
    <ion-slide>
      <img [src]="imageUrl" *ngIf="imageUrl">
    </ion-slide>
    <ion-slide>
      <img [src]="imageUrl2" *ngIf="imageUrl">
    </ion-slide>
    <ion-slide>
      <img [src]="imageUrl3" *ngIf="imageUrl">
    </ion-slide>
  </ion-slides>
</ion-content>