.back {
    padding-top: 18%;
    align-items: center;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    @media screen and (max-width: 480px) {
      padding-top: 80%;
    }
}

.button {
    padding-left: 45%;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    @media screen and (max-width: 480px) {
      padding-left: 40%;
    }
}

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  /* The style below is just for the appearance of the example div */
  
  .style {
    width:90vw; height:90vh;
    text-align:center;
    padding-top:calc(50vh - 50px);
    margin-left:5vw;
    border:4px double #F00;
    background-color:#000;
  }
  .style p {
    color:#fff;
    font-size:50px;
  }